:root {
    --button-bg: #422564;
    --button-text: white;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
}

#start-button {
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--button-text);
}

#start-button:hover {
    cursor: pointer;
}

p {
    font-weight: bold;
    width: 30%;
    padding-bottom: 20px;
    margin: auto;
}

h2 {
    font-size: 24px;
}

nav {
    margin-right: 10px;
    transform: translateX(-25px);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

ul li a {
    text-decoration: none;

    color: var(--button-bg);
}

.quizpage {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    display: none;
}

ol {
    text-align: left;
    transform: translateX(25px);
}

ol li {
    margin-bottom: 5px;
}

ol li button, .highscores button {
    border-radius: 5px;
    background-color: var(--button-bg);
    color: var(--button-text);
}

.highscores {
    display: flex;
    flex-direction: column;
    display: none;
    width: 600px;
    margin: auto;
    margin-top: 0;
}

button:hover {
    cursor: pointer;
}

.initials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.highscores button {
    transform: translateX(20px);
}

#lastPageButtons {
    transform: translateX(-20px);
}

#highScoresList {
    transform: translateX(0px);
    text-align: left;
    padding-left: 20px;
    background-color: #d0bddb;
}

#lastPageButtons {
    display: none;
}